<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boreholes.locatewater">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.PlayVideoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TapsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BoreholesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SpringsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DamsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StepTwoBoreholesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StepTwoTapsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StepTwoSpringsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StepTwoDamsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StepTwoLakesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LakesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NationalActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SubCountyActivity"
            android:exported="false" />
        <activity
            android:name=".activities.WardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MyWardReportActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MySubCountyReportActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MyNationalReportActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StepThreeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StepTwoRiversActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MyCountyActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CountyActivity"
            android:exported="false" />
        <activity
            android:name=".activities.VideoActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- The API key for Google Maps-based APIs. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity android:name=".activities.RiversActivity" />
        <activity android:name=".activities.SourceListActivity" />
        <activity android:name=".activities.MapActivity" />
        <activity android:name=".activities.ReportActivity" />
        <activity android:name=".activities.SourceTypesActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>